body {
    background-color: #000;
}

.container {
    max-width: 64em;
    padding: 10px;
}

pre {
    color: #f8f8f2;
    background-color: #151515;
}

p code, li code {
    color: #c7254e;
}

.note {
    font-size: 0.9em;
}

.copyright p {
    font-size: 0.8em;
}
